alias ll='ls -lart'
alias svbf='sudo vi ~/.bash_profile'
alias sbf='source ~/.bash_profile'
alias hgri='history | grep -i '
alias fixyolibs='unset DYLD_LIBRARY_PATH'
alias sma="source ~/.aliases"

# this tree is just directories
alias treedir='find . -type d | sed -e "s/[^-][^\/]*\//  |/g" -e "s/|\([^ ]\)/|-\1/"'

# misc
alias alamedaweather='curl http://weather.yahooapis.com/forecastrss?p=94501 | grep --after-context 4 "Current"'
alias ctags="/usr/local/bin/ctags -R --exclude=spec/support --exclude=logs/* --exclude=tmp --exclude=vendor/jarhead"
alias whatsmyip='curl -s checkip.dyndns.org|sed -e "s/.*Current IP Address: //" -e "s/<.*$//"'
alias flushcache='dscacheutil -flushcache'
alias ws='cd ~/code/workspace'
alias sandbox='cd ~/code/sandbox'
alias drop='cd ~/Dropbox'
alias dtop='cd ~/Desktop'
alias mr='cd ~/code/mr'
alias dickens='cd ~/code/mr/dickens'
alias justdirs='for i in $(ls -d */); do echo ${i%%/}; done'
alias unixliner='vim -R ~/Dropbox/unix/unix_oneliners.txt'
alias tmuxcheat='open ~/Dropbox/tmux-cheatsheet.markdown'

alias notes='vim ~/Dropbox/job/notes.txt'
alias strnotes='vim ~/Dropbox/job/str/notes/notes.txt'
alias emacs="/usr/local/Cellar/emacs/24.3/Emacs.app/Contents/MacOS/Emacs -nw"
alias flushredis='redis-cli -r 1 flushall'

# git
alias gpthis='git push -u origin HEAD:$(git_current_branch)'
alias git_current_branch='git rev-parse --abbrev-ref HEAD'
alias gs='git status --short'
alias gst='git status'
alias gcm='git commit'
alias gl='git log'
alias gup='git pull && git submodule update --init'
alias gpp='gup && git push'
alias gitlg='git log --pretty=format:"%Cred%h%Creset - %Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset"'
alias ga='git add -A'
alias gitfiles='git diff-tree --no-commit-id --name-only -r'
alias gdh='git diff head'
alias gpr='git pull --rebase'
alias forgot='git commit --amend'
alias gpr='git pull --rebase'
alias oops='git reset --hard HEAD~1'
alias oops-local='git reset --soft HEAD~1'
alias gitll='git log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat'
alias glg='git log --graph --oneline --decorate --color --all'

# python
alias nt='nosetests -v --with-yanc'
alias workit='workon complexity'
alias vew='source /usr/local/bin/virtualenvwrapper.sh'
alias noseit='nosetests -v -s -w tests --with-yanc'
alias nosecover='nosetests --with-coverage --cover-html -v -s -w tests'
alias nosefail='nosetests -v -s -w tests --failed --with-yanc'
alias ackpy='ag -G py$'
alias pyclean='find . -type f -name "*.pyc" -ls -delete'
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
alias thatpythonserver='python -m SimpleHTTPServer 8083'

# ruby
alias rake='bundle exec rake'
alias removeoldsql='find . -name "*.sql" -mtime +8 | xargs rm'
alias rkdbm='bundle exec rake db:migrate db:test:prepare'
alias zr='zeus rspec -fp'
alias rbp='rails_best_practices -e "db" -f html . --output-file ~/Desktop/rails_best_practices_output.html'
alias psql=/Applications/Postgres.app/Contents/MacOS/bin/psql
alias shiprails='git pull --rebase && bundle && rake db:migrate db:test:prepare && rspec -fp spec/ && gpthis'

# scala
alias shipscala='gpr && ./sbt test && gpthis'

# docker
alias dki='docker run -t -i -P'
alias dkd='docker run -d -P'
alias dip="docker inspect --format '{{ .NetworkSettings.IPAddress }}'"
