import sys
import os
from utils import Utils

class $classname(object):
  """
  $abstract
  """
  def __init__(self):
      self._utils = Utils()
      self._utils.get_config()
      self._application_path = self._utils.config.get('basic', 'APPLICATION_PATH')
      self.logger = self._utils.get_logger(utils.config.get('basic', 'APPLICATION_NAME'))
