import unittest
from context import utils
import os
#import mock

class Test$classname(unittest.TestCase):
  """
  $abstract
  """
  def setUp(self):
    pass
      
  def test_$lc_class(self):
    """
    The secret of life is honesty and fair dealing. 
    If you can fake that, you've got it made. 
    -- Groucho Marx 
    """

if __name__ == '__main__':
    unittest.main()
