require 'test/unit'
require File.expand_path(File.dirname(__FILE__) + '/$classname.rb')

class ${classname}Test < Test::Unit::TestCase
  def test_will_fail
    value = 'false'
    assert_equal 'file', value
  end
end
